div.subjects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  
  button.new-subject {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  
  @media (max-width: 720px) {
    div.subjects {
      grid-template-columns: 1fr;
    }
  }